th{
    color: #fff;
    padding: 10px;
    border: 1px solid black;
}

#header1{
    background: #8A0808;
}

#header2{
    background: #40FF00;
}

#header3{
    background: #0B0B61;
}

td{
    padding: 10px 40px 100px;
    border: 1px solid black;
}

#col1{
    background: #FA5858;
}

#col2{
    background: #21610B;
}

#col3{
    background: #2ECCFA;
}