header{
    background: #01DFD7;
    height: 100px;
}

main{
    width: 100%;
}

nav{
    background: #FA5858;
    height: 35px;
}

aside{
    background: #9FF781;
    float: left;
    height: 450px;
    width: 25%;
}

section{
    background: #D8D8D8;
    height: 450px;
    width: 1350px;
}

footer{
    background: #0101DF;
    height: 80px;
}